Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# 패키징 산출물
/Windows/
/Windows.zip
/Saved/StagedBuilds/
/Saved/Cooked/
/Build/

# 에셋 경로들
/Content/ElfSelena
/Content/SkyTown